<footer class="container mx-auto px-3 pb-4 text-center">
  <hr class="my-4 dark:border-zinc-700">
    <p>Copyright &copy;{{ year }}
      <a href="https://github.com/llcawc">llcawc</a>
      by pasmurno, all rights reserved. Made with
      <span style="color:red;">❤</span>
      to beautiful architecture.
    </p>
  </footer>
