<header class="relative flex min-h-52 items-center overflow-hidden bg-burg bg-cover bg-[50%] p-0 sm:min-h-64 md:min-h-[25rem]">
  <div class="absolute left-0 top-0 h-full w-full bg-gradient-to-b from-indigo-950/70 via-black/60 to-indigo-950/70"></div>
  <div class="container relative mx-auto px-3 pb-4">
    <h1 class="mb-4 text-center text-white drop-shadow-hx">
      <i class="bi {{ icon }}"></i>
      {{ header }}
    </h1>
    <nav class="container mx-auto px-3 font-bold text-white">
      <ul class="flex justify-center gap-4">
        {% for item in pages %}
          <li>
            {% if item.page === page %}
              <p class="uppercase text-white/100">{{ item.title }}</p>
            {% else %}
              <a class="uppercase text-blue-400 hover:underline hover:text-blue-400 decoration-4 underline-offset-4 hover:decoration-white" href="/{{ item.page }}.html">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="absolute bottom-0 z-10 w-full">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="moving-waves">
        <use xlink:href="#gentle-wave" x="48" y="-1"></use>
        <use xlink:href="#gentle-wave" x="48" y="3"></use>
        <use xlink:href="#gentle-wave" x="48" y="5"></use>
        <use xlink:href="#gentle-wave" x="48" y="8"></use>
        <use xlink:href="#gentle-wave" x="48" y="13"></use>
        <use xlink:href="#gentle-wave" x="48" y="16"></use>
      </g>
    </svg>
  </div>
</header>
