// totop.sass
// Button to top scroll
@use "bootstrap" as boot

$bott: 90px
$righ: 20px

#scrolltotop
  position: fixed
  z-index: 199
  right: $righ
  bottom: $bott

  width: 40px
  height: 40px
  border-radius: 4px

  opacity: 0
  background-color: rgba(boot.$accent, 0.5)

  transition:
    background-color: 0.4s,
    box-shadow: 0.4s,
    opacity: 1.2s ease

  svg
    width: 24px
    height: 24px
    margin: (40px - 24px) * 0.5
    color: #fff

  &:hover
    background-color: boot.$accent
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)

  &:active
    transform: scale(0.95)
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)

  &.on
    cursor: pointer
    opacity: 1 !important
    animation: up 1.2s ease

  &.down
    animation: down 1.2s ease

@keyframes up
  0%
    bottom: 0

  30%
    bottom: $bott
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

@keyframes down
  0%
    transform: rotate(0deg)
    opacity: 1

  70%
    bottom: $bott
    transform: rotate(-360deg)
    opacity: 1

  100%
    bottom: 0
    transform: rotate(-360deg)
    opacity: 0

// END button to top scroll
