/* button up to top */

.back-to-top {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  transition: all 1s;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }

  & svg {
    width: 100%;
    height: 100%;
    transition: all 250ms;
    fill: rgba(var(--accent) / 90%);

    &:hover {
      fill: rgba(var(--accent) / 80%);
    }
  }

  &.up {
    bottom: 3rem;
    opacity: 1;
  }

  &.down {
    bottom: -0.5rem;
    opacity: 0;
  }
}
