extends ../layouts/main

block prepend variables
  - const page = "post";

block main
  main(class="container animated fadeIn")
    article
      h3 Vingardium Leviosso
      p(class="indent") Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, natus exercitationem, enim adipisci ad voluptatibus porro iste eaque optio, recusandae facilis excepturi magnam voluptatum. Sed veritatis a rem molestiae, nemo amet! Dignissimos, esse ad cumque quod nisi sequi adipisci possimus? Pariatur voluptates optio inventore ab ut eum delectus illum harum.
      figure(class="burg")
        img(src="/assets/images/burg.jpg", width="1200", height="800", alt="burg", loading="lazy")
      p(class="indent") Aliquam ex earum, quisquam, cupiditate adipisci iste obcaecati dicta iusto odio exercitationem incidunt at deserunt dolores architecto nostrum dolore? Minus necessitatibus non deleniti esse, ducimus nobis culpa nostrum, ipsum fugiat omnis quae tempora obcaecati! Sapiente iste distinctio, eum exercitationem minima assumenda error! Neque architecto temporibus, necessitatibus deserunt a corporis, nesciunt, quaerat fugit optio ea nulla delectus minima ut nisi doloribus. Placeat, maxime modi. Libero odio exercitationem similique, beatae animi nostrum?
      h3 Petrifikus Totales
      p(class="indent") Explicabo, aliquid. Quisquam iure officia illum cum cumque ex ullam quasi maxime, nostrum unde eaque totam aperiam dolorum. Reprehenderit officiis officia, praesentium similique sed ab optio aperiam commodi non esse vero! Asperiores eligendi distinctio ipsam veniam nam dignissimos consequuntur itaque dicta autem. Nobis ut repudiandae ipsum iusto ducimus nostrum consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita minus porro eveniet eos beatae explicabo! Aspernatur nobis quod dolor aliquam!
      p(class="indent") Explicabo, aliquid. Quisquam iure officia illum cum cumque ex ullam quasi maxime, nostrum unde eaque totam aperiam dolorum. Reprehenderit officiis officia, praesentium similique sed ab optio aperiam commodi non esse vero! Asperiores eligendi distinctio ipsam veniam nam dignissimos consequuntur itaque dicta autem. Nobis ut repudiandae ipsum iusto ducimus nostrum consectetur.
      div(class="text-end")
        a(href="/") ... back
