{% extends "layouts/main.njk" %}
{% set page = '404' %}
{% block header %}
  <header></header>
{% endblock %}
{% block main %}
  <main class="grow flex items-center justify-center">
    <div class="absolute top-0 left-0 h-full w-full overflow-hidden bg-[url('/assets/images/world.jpg')] bg-cover bg-[50%]"></div>
    <div class="absolute top-0 left-0 h-full w-full bg-gradient-to-b from-black/80 via-black/95 to-black/80"></div>
    <div class="flex gap-x-3 text-light animated fadeInUp">
      <h1 class="pt-1">
        <i class="bi bi-bell text-[42px]"></i>
      </h1>
      <div>
        <h1 class="mb-2">Error 404!</h1>
        <p class="mb-4">Document not found.</p>
        <a class="inline-block cursor-pointer text-accent uppercase bg-transparent px-6 py-2 m-0 border border-solid border-accent rounded-md text-center transition duration-250 hover:text-accent hover:ring hover:ring-accent hover:ring-offset-2 hover:ring-offset-dark hover:no-underline active:transform active:translate-y-[2px] animated fadeIn delay-1s" href="/">Home</a>
      </div>
    </div>
  </main>
{% endblock %}
{% block footer %}
  <footer></footer>
{% endblock %}
