{% extends "layouts/main.njk" %}
{% set page = 'waves' %}
{% block main %}
  <main class="flex flex-col flex-nowrap items-center justify-center container mx-auto px-3 flex-grow">
    <h2>buttons</h2>
    <div class="buttons">
      <a href="#" class="mybtn one">Button</a>
      <a href="#" class="mybtn two">Button</a>
    </div>
    <div class="butwrapper">
      <div class="butcart">
        <div class="button-layer"></div>
        <button class="gradbtn" onclick="alert('Hello!')">Alert Button</button>
      </div>
    </div>
  </main>
{% endblock %}
