/* buttons.css */

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.mybtn {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 3rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  box-shadow: 3px 5px rgb(0 0 0 / 10%);
  border-top: 1px solid rgb(0 0 0 / 10%);
  overflow: hidden;

  &.one {
    background: linear-gradient(90deg, #6616d0, #ac34e7);
  }

  &.two {
    background: linear-gradient(90deg, #025ce3, #4e94fd);
  }

  &:hover {
    color: #fff;
  }
}

.overlay {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: blink 0.5s linear;
}

@keyframes blink {
  0% {
    opacity: 0.3;
    height: 0;
    width: 0;
  }

  100% {
    height: 30rem;
    width: 30rem;
    opacity: 0;
  }
}

.butwrapper {
  margin: 2rem auto;
}

.butcart {
  position: relative;
  height: 4rem;
  width: 16rem;
  border-radius: 2rem;
  overflow: hidden;

  .button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background: linear-gradient(135deg, #025ce3, #4e94fd, #025ce3, #4e94fd);
    transition: all 0.4s ease;
    border-radius: 2rem;
  }

  .gradbtn {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    background: none;
    outline: none;
    border: 0 solid transparent;
    border-radius: 2rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
  }

  &:hover .button-layer {
    left: 0;
  }
}
