/* waves.css */

/* Waves Animation & Styling */
.waves {
  --waves-color: var(--white);
  --waves-position: relative;
  --waves-width: 100%;
  --waves-height: 8rem;
  --waves-min-height: 6rem;
  --waves-max-height: 10rem;
  --waves-margin-bottom: -0.4rem;
  --waves-height-sm: 3rem;
  --waves-min-height-sm: var(--waves-height-sm);
  --waves-height-md: 5rem;
  --waves-min-height-md: var(--waves-height-md);
  --waves-rotate: rotate(180deg);
  --moving-waves-keyframe-0: translate3d(-90px, 0, 0);
  --moving-waves-keyframe-100: translate3d(85px, 0, 0);
  --moving-waves-animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  --moving-waves-child-1-delay: -2s;
  --moving-waves-child-1-duration: 11s;
  --moving-waves-child-2-delay: -4s;
  --moving-waves-child-2-duration: 13s;
  --moving-waves-child-3-delay: -3s;
  --moving-waves-child-3-duration: 15s;
  --moving-waves-child-4-delay: -4s;
  --moving-waves-child-4-duration: 20s;
  --moving-waves-child-5-delay: -4s;
  --moving-waves-child-5-duration: 25s;
  --moving-waves-child-6-delay: -3s;
  --moving-waves-child-6-duration: 30s;

  /* moving waves animation */
  position: var(--waves-position);
  width: var(--waves-width);
  height: var(--waves-height);
  margin-bottom: var(--waves-margin-bottom);
  fill: none;

  /* Fix for safari gap */
  min-height: var(--waves-min-height);
  max-height: var(--waves-max-height);
}

.wave-rotate {
  transform: var(--waves-rotate);
}

/* Animation for the waves */

.moving-waves > use {
  animation: var(--moving-waves-animation);
}

.moving-waves > use:nth-child(1) {
  animation-delay: var(--moving-waves-child-1-delay);
  animation-duration: var(--moving-waves-child-1-duration);
  fill: rgba(var(--waves-color) / 40%);
}

.moving-waves > use:nth-child(2) {
  animation-delay: var(--moving-waves-child-2-delay);
  animation-duration: var(--moving-waves-child-2-duration);
  fill: rgba(var(--waves-color) / 35%);
}

.moving-waves > use:nth-child(3) {
  animation-delay: var(--moving-waves-child-3-delay);
  animation-duration: var(--moving-waves-child-3-duration);
  fill: rgba(var(--waves-color) / 25%);
}

.moving-waves > use:nth-child(4) {
  animation-delay: var(--moving-waves-child-4-delay);
  animation-duration: var(--moving-waves-child-4-duration);
  fill: rgba(var(--waves-color) / 20%);
}

.moving-waves > use:nth-child(5) {
  animation-delay: var(--moving-waves-child-5-delay);
  animation-duration: var(--moving-waves-child-5-duration);
  fill: rgba(var(--waves-color) / 15%);
}

.moving-waves > use:nth-child(6) {
  animation-delay: var(--moving-waves-child-6-delay);
  animation-duration: var(--moving-waves-child-6-duration);
  fill: rgba(var(--waves-color) / 100%);
}

.waves.no-animation {
  .moving-waves > use {
    animation: none;
  }
}

@keyframes move-forever {
  0% {
    transform: var(--moving-waves-keyframe-0);
  }

  100% {
    transform: var(--moving-waves-keyframe-100);
  }
}

/* Shrinking for mobile */

@media (width <= 768px) {
  .waves {
    height: var(--waves-height-md);
    min-height: var(--waves-min-height-md);
  }
}

@media (width <= 640px) {
  .waves {
    height: var(--waves-height-sm);
    min-height: var(--waves-min-height-sm);
  }
}

/* Color mode */

.dark .waves {
  --waves-color: var(--dark);
}
